.payment {
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid lightgray;
  background-color: #eaeded;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__items,
.payment__address {
  flex: 0.8;
  margin-left: 5px;
}

.payment__details {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0b6623;
  color: #272626;
}

.payment__details {
  flex: 0.8;
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background-color: #0b6623;
  border: 1px solid;
  margin-top: 10px;
  border-color: #0f752a #07521b #045018;
  color: aliceblue;
  padding: 5px 6px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.payment__test {
  border: 1px solid #b90000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  background-color: #ff8e8e;
}

.payment__test > p > ul {
  list-style-type: none;
  padding: 5px;
}
