.footer {
  background-color: #000;
  width: 100%;
  color: #bebebe;
}

.footer__container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1500px;
  display: flex;
}

.footer__left,
.footer__center,
.footer__right {
  flex: 0.33;
}

.footer__sectionHeading {
  padding: 10px 20px;
}

.footer p {
  padding: 20px;
}

.footer p a {
  color: inherit;
  text-decoration: none;
}

.footer p li {
  list-style: none;
}
